*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    color: white;
    background-color: #320243;
}

h1{
    text-align: center;
    /* top l&r bottom */
    margin: 100px auto 50px; 
    font-weight: 600;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #6f4389;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 0 30px;
}

form button{
    padding: 0 30px;
    height: 100%;
    background-color: #ea29ff;
    color: white;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
::placeholder{
    color: white;
    font-size: 18px;
}

#show-more-btn{
    padding: 12px 20px;
    height: 100%;
    background-color: #ea29ff;
    color: white;
    font-size: 17px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px auto 100px;
    display: none;
}