.card{
  border: 2px solid purple;
  width: 334px;
  padding: 23px;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container{
  display: flex;
 gap: 23px;
 flex-wrap: wrap;

}